body {
  font-family: 'Montserrat', sans-serif;
}

.wraper {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  background: #F0F5FB;
  min-height: 100vh;
  margin-bottom: 150px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #F0F5FB;
}

@media (max-width: 767px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    height: 2px;
    top: 9px;
    left: 0;
    width: 100%;
    background-color: #000000;
  }
  .header__nav {
    position: absolute;
    top: 100px;
    left: -250px;
    z-index: 1000;
    width: 40%;
    height: 50%;
    border-radius: 20px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__nav.active {
    left: 0;
  }
  .header__nav .nav__link {
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }
}

.header__logo {
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.nav__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-right: 40px;
}

@media (max-width: 900px) {
  .nav__link {
    margin-right: 20px;
  }
}

.logo__classic {
  max-width: 100%;
}

.info__time {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

@media (max-width: 900px) {
  .info__time {
    font-size: 0;
  }
}

.info__tel {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #000000;
  margin-left: 16px;
}

@media (max-width: 590px) {
  .info__tel {
    display: none;
  }
}

.info__tel_img {
  margin-left: 40px;
}

@media (max-width: 1000px) {
  .info__tel_img {
    margin-left: 20px;
  }
}

.title {
  position: relative;
  z-index: 1;
}

.title__text {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (max-width: 1110px) {
  .title__text {
    top: 50px;
  }
}

@media (max-width: 900px) {
  .title__text {
    top: 20px;
  }
}

.title__free {
  max-width: 200px;
  position: absolute;
  right: 140px;
  top: 323px;
  z-index: 10;
}

@media (max-width: 1110px) {
  .title__free {
    top: 300px;
    right: 50px;
  }
}

@media (max-width: 900px) {
  .title__free {
    top: 250px;
  }
}

@media (max-width: 500px) {
  .title__free {
    top: 250px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.images__background {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  max-width: 100%;
}

.images__pizza {
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-40%);
          transform: translate(-40%);
  z-index: 2;
  max-width: 70%;
}

@media (max-width: 1000px) {
  .images__pizza {
    top: 250px;
  }
}

@media (max-width: 600px) {
  .images__pizza {
    top: 350px;
  }
}

.text__title {
  font-weight: bold;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1120));
  line-height: 59px;
  text-align: center;
  color: #000000;
  margin-bottom: 18px;
}

@media (max-width: 800px) {
  .text__title {
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.text__subtitle {
  font-weight: normal;
  font-size: 18px;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1120));
  line-height: 140%;
  text-align: center;
  color: #000000;
}

.free__img {
  position: absolute;
  right: 200px;
  top: 21px;
  z-index: 10;
  max-width: 90%;
}

@media (max-width: 767px) {
  .free__img {
    display: none;
  }
}

.free__text {
  max-width: 200px;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #000000;
}

@media (max-width: 500px) {
  .free__text {
    text-align: center;
  }
}

.free__red {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

.popular__dishes {
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}

.menu__basket {
  position: absolute;
  top: -50px;
  right: 50px;
  max-width: 100%;
  z-index: 10;
}

.menu__title {
  font-weight: bold;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1120));
  line-height: 59px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.menu__buttons {
  text-align: center;
  margin-bottom: 50px;
}

.menu__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 55px;
}

@media (max-width: 1000px) {
  .menu__items {
    row-gap: 40px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (max-width: 767px) {
  .menu__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .menu__items {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 40px;
  }
}

.menu__update {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  cursor: pointer;
}

.buttons__btn {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 16px 40px;
  background-color: #ECEEF7;
  border-radius: 45px;
  margin-right: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 900px) {
  .buttons__btn {
    margin-right: 10px;
  }
}

.buttons__btn:hover {
  background: #59AAF1;
  color: white;
}

.buttons__btn:nth-child(5) {
  margin-right: 0;
}

.items__item {
  background: #FFFFFF;
  border: 2px solid #ECEEF7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.items__item::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-top: 0px solid #ECEEF7;
  border-right: 2px solid #ECEEF7;
  border-bottom: 2px solid #ECEEF7;
  border-left: 0px solid #ECEEF7;
  top: 100%;
  left: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #FFFFFF;
  margin-left: -25px;
  margin-top: -25px;
}

.item__img {
  max-width: 100%;
}

.item__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 8px;
}

.item__title__size {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  text-align: right;
  color: #000000;
  margin-left: 30px;
}

.item__subtitle {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 15px;
}

.item__price {
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #121146;
}

.item__pay {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 10;
  cursor: pointer;
}

.instagram {
  position: relative;
  margin-bottom: 100px;
}

.instagram__foto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.instagram__link {
  padding: 55px;
  background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
  -webkit-box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
          box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
  border-radius: 15px;
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-weight: bold;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1120));
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .instagram__link {
    top: 40px;
    padding: 40px;
  }
}

@media (max-width: 1000px) and (max-width: 767px) {
  .instagram__link {
    top: 100px;
    padding: 5px 40px;
    width: 60%;
    font-size: 12px;
  }
}

@media (max-width: 1000px) {
  .instagram__foto {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.instagram .link__b {
  font-weight: 300;
}

.foto__img {
  width: 100%;
  height: 100%;
}

.call__back {
  padding: 82px 0 245px;
  background: url(../../images/vegitable.png) 100%/100% no-repeat;
  background-color: #F0F5FB;
}

@media (max-width: 767px) {
  .call__back {
    padding: 20px;
  }
}

.back__title {
  font-weight: bold;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1120));
  line-height: 150%;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
  margin-bottom: 40px;
}

.back__form {
  text-align: center;
}

@media (max-width: 767px) {
  .back__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.form__input {
  padding: 20px 30px;
  background: #FFFFFF;
  border: 2px solid #ECEEF7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 57px;
  margin-right: 40px;
}

.form__btn {
  padding: 20px 30px;
  background: #f34d1f;
  border-radius: 57px;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 992px) {
  .form__input {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .form__input {
    margin: 20px 100px;
  }
  .form__btn {
    margin: 20px 100px;
  }
}

@media (max-width: 520px) {
  .form__input {
    margin: 20px 30px;
  }
  .form__btn {
    margin: 20px 30px;
  }
}

.btn__img {
  margin-left: 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.footer__copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.footer__made {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  text-align: right;
  color: #000000;
}

.footer__made .made__b {
  font-weight: bold;
  margin-left: 5px;
}

.image__img {
  max-width: 100%;
}
