body {
    font-family: 'Montserrat',
        sans-serif;
}

$maxWidth:1440;


@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.wraper {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    background: #F0F5FB;
    min-height: 100vh;
    margin-bottom: 150px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #F0F5FB;

    @media(max-width:767px) {
        display: flex;
        justify-content: space-between;

        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            cursor: pointer;

            &.active::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }

            &.active::before {
                transform: rotate(45deg);
                top: 9px;
            }

            &.active span {
                transform: scale(0);
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                background-color: #000000;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            span {
                position: absolute;
                height: 2px;
                top: 9px;
                left: 0;
                width: 100%;
                background-color: #000000;
            }

        }

        &__nav {
            position: absolute;
            top: 100px;
            left: -350px;
            z-index: 1000;
            height: 50%;
            padding: 40px 60px;
            border-radius: 20px;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.3s;

            &.active {
                left: 0;
            }


            .nav__link {
                margin-right: 0;
                margin-bottom: 20px;
                margin-top: 20px;
                font-size: 20px;

            }

        }
    }



    &__logo {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
    }

    &__info {
        display: flex;
        flex: 0 1 50%;
        align-items: center;
        justify-content: flex-end;
    }

    &__nav {
        flex: 0 1 50%;
    }
}

.nav {

    &__link {
        text-decoration: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-right: 40px;

        @media(max-width:900px) {
            margin-right: 20px;
        }
    }
}

.logo {

    &__classic {
        max-width: 100%;
    }
}

.info {

    &__time {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #000000;

        @media(max-width:900px) {

            font-size: 0;
            ;

        }
    }

    &__tel {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: right;
        color: #000000;
        margin-left: 16px;

        @media(max-width:590px) {
            display: none;
        }

        &_img {
            margin-left: 40px;

            @media(max-width:1000px) {
                margin-left: 20px;
            }
        }
    }
}

.title {
    position: relative;
    z-index: 1;


    &__text {
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%);

        @media(max-width:1110px) {

            top: 50px;

        }

        @media(max-width:900px) {

            top: 20px;

        }

    }

    &__free {
        max-width: 200px;
        position: absolute;
        right: 140px;
        top: 323px;
        z-index: 10;

        @media(max-width:1110px) {
            top: 300px;
            right: 50px;

        }

        @media(max-width:900px) {

            top: 250px;

        }

        @media(max-width:500px) {

            top: 250px;
            left: 50%;
            transform: translate(-50%);

        }
    }

}

.images {

    &__background {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        max-width: 100%;
    }

    &__pizza {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-40%);
        z-index: 2;
        max-width: 70%;

        @media(max-width:1000px) {
            top: 250px;
        }

        @media(max-width:600px) {
            top: 350px;
        }
    }
}

.text {

    &__title {
        font-weight: bold;
        @include adaptiv-font(48, 24);
        line-height: 59px;
        text-align: center;
        color: #000000;
        margin-bottom: 18px;

        @media(max-width:800px) {
            line-height: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        font-weight: normal;
        font-size: 18px;
        @include adaptiv-font(18, 12);
        line-height: 140%;
        text-align: center;
        color: #000000;
    }


}

.free {
    &__img {
        position: absolute;
        right: 200px;
        top: 21px;
        z-index: 10;
        max-width: 90%;

        @media(max-width:767px) {
            display: none;

        }
    }

    &__text {
        max-width: 200px;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        text-align: right;
        color: #000000;

        @media(max-width:500px) {
            text-align: center;

        }
    }

    &__red {
        font-weight: bold;
        font-size: 20px;
        color: red;
        ;
    }


}

.popular__dishes {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}


.menu {
    .basket {
        position: relative;

        &__menu {
            position: absolute;
            top: -80px;
            right: 50px;
            max-width: 100%;
            z-index: 10;
        }

        & span {
            position: absolute;
            top: -80px;
            right: 50px;
            width: 50px;
            height: 30px;
            z-index: 11;
            border-radius: 20px;
            font-size: 16px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: gray;
        }

    }



    &__title {
        font-weight: bold;
        @include adaptiv-font(48, 24);
        line-height: 59px;
        text-align: center;
        color: #000000;
        margin-bottom: 50px;
    }

    .pizza__menu {
        display: block;
        margin-bottom: 20px;

        &.menuOpen::after {
            transform: rotate(-45deg);
            bottom: 9px;
        }

        &.menuOpen::before {
            transform: rotate(45deg);
            top: 9px;
        }

        &.menuOpen span {
            transform: scale(0);
        }
    }

    &__buttons {
        text-align: center;
        margin-bottom: 50px;
        position: relative;

        @media(max-width:767px) {
            position: absolute;
            top: 150px;
            left: -250px;
            z-index: 10;
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin: 0;
            background-color: #ECEEF7;
            transition: all 0.3s;

            &.menuOpen {
                left: 0;
            }
        }
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 40px;
        margin-bottom: 55px;

        @media(max-width:1000px) {
            row-gap: 40px;
            column-gap: 20px;
        }

        @media(max-width:767px) {
            grid-template-columns: 1fr 1fr;
            gap: 40px;

        }

        @media(max-width:480px) {
            grid-template-columns: 100%;
            gap: 40px;

        }
    }

    &__update {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        cursor: pointer;

    }
}

.buttons {

    &__btn {
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 16px 40px;
        background-color: #ECEEF7;
        border-radius: 45px;
        margin-right: 30px;
        transition: all 0.3s;

        @media(max-width:900px) {
            margin-right: 10px;

        }

        @media(max-width:767px) {
            margin-right: 0;
        }

        &:hover {
            background: #59AAF1;
            color: white;
        }

        &:nth-child(5) {
            margin-right: 0;
        }


    }

}

.items {

    &__item {
        background: #FFFFFF;
        border: 2px solid #ECEEF7;
        box-sizing: border-box;
        border-radius: 15px;
        text-align: center;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 50px;
            height: 50px;
            border-top: 0px solid #ECEEF7;
            border-right: 2px solid #ECEEF7;
            border-bottom: 2px solid #ECEEF7;
            border-left: 0px solid #ECEEF7;
            top: 100%;
            left: 50%;
            transform: rotate(45deg);
            background-color: #FFFFFF;
            margin-left: -25px;
            margin-top: -25px;
        }
    }
}

.item {

    &__img {
        max-width: 100%;
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 8px;

        &__size {
            font-weight: normal;
            font-size: 12px;
            line-height: 140%;
            text-align: right;
            color: #000000;
            margin-left: 30px;
        }
    }

    &__subtitle {
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        color: #000000;
        margin-bottom: 15px;
    }

    &__price {
        position: relative;
        z-index: 10;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 24px;
        line-height: 140%;
        color: #121146;
    }

    &__pay {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%);
        background-color: #F65B16;
        width: 12px;
        height: 14px;
        padding: 12px 12px;
        border: 1px solid #F65B16;
        border-radius: 50%;
        max-width: 100%;
        z-index: 10;
        cursor: pointer;


        &:hover {
            background-color: white;
            color: #F65B16;
        }

        .pay__img {
            color: white;
            position: absolute;
            top: 3px;
            left: 5px;
            max-width: 100%;
            &:hover{
                color: #F65B16;
            }

        }

    }

}

.instagram {
    position: relative;
    margin-bottom: 100px;

    &__foto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    &__link {
        padding: 55px;
        background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
        box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2),
            0px 35px 50px rgba(253, 55, 36, 0.2),
            0px 20px 25px rgba(253, 55, 36, 0.2);
        border-radius: 15px;
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translate(-50%);
        font-weight: bold;
        @include adaptiv-font(24, 18);
        line-height: 29px;
        color: #FFFFFF;
        text-decoration: none;

    }

    @media(max-width: 1000px) {
        &__link {
            top: 40px;
            padding: 40px;

            @media(max-width: 767px) {
                top: 100px;
                padding: 5px 40px;
                width: 60%;
                font-size: 12px;
            }
        }

        &__foto {
            grid-template-columns: 1fr 1fr;
        }
    }



    .link__b {
        font-weight: 300;
    }
}

.foto {

    &__img {
        width: 100%;
        height: 100%;
    }
}

.call__back {
    padding: 82px 0 245px;
    background: url(../../images/vegitable.png)100%/100% no-repeat;
    background-color: #F0F5FB;

    @media(max-width:767px) {
        padding: 20px;
        ;
    }
}

.back {

    &__title {
        font-weight: bold;
        @include adaptiv-font(48, 24);
        line-height: 150%;
        margin: 0 auto;
        text-align: center;
        max-width: 500px;
        margin-bottom: 40px;
    }

    &__form {
        text-align: center;

        @media(max-width:767px) {
            display: grid;
            grid-template-columns: 100%;
        }
    }
}

.form {

    &__input {
        padding: 20px 30px;
        background: #FFFFFF;
        border: 2px solid #ECEEF7;
        box-sizing: border-box;
        border-radius: 57px;
        margin-right: 40px;
    }

    &__btn {
        padding: 20px 30px;
        background: rgb(243, 77, 31);
        border-radius: 57px;
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        text-decoration: none;
        color: #FFFFFF;
        cursor: pointer;

    }

    @media(max-width:992px) {
        &__input {
            margin-right: 20px;
        }
    }

    @media(max-width:767px) {
        &__input {
            margin: 20px 100px;

        }

        &__btn {
            margin: 20px 100px;
        }
    }

    @media(max-width:520px) {
        &__input {
            margin: 20px 30px;

        }

        &__btn {
            margin: 20px 30px;
        }
    }
}

.btn {

    &__img {
        margin-left: 30px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;

    &__copyright {
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
    }

    &__made {
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        text-align: right;
        color: #000000;

        .made__b {
            font-weight: bold;
            margin-left: 5px;
        }
    }

    @media(max-width:767px) {
        padding: 10px;
        ;

        &__copyright {
            font-size: 12px;
        }

        &__made {
            font-size: 12px;
        }
    }

    @media(max-width:550px) {
        display: flex;
        flex-direction: column;

        &__copyright {
            margin-bottom: 20px;
        }

        &__made {
            margin-top: 20px;
        }
    }
}


.image {

    &__img {
        max-width: 100%;
    }
}